<div class="container">
  <table class="table">
    <tr>
      <th>id</th>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Email</th>
      <th></th>
    </tr>
    <tr>
      <td>A5</td>
      <td>NAJEH</td>
      <td>Youssef</td>
      <td>yo@gail.com</td>
      <td>
        <fa-icon [ngClass]="'text-info'" [icon]="faShow"></fa-icon>
        <fa-icon [ngClass]="'text-warning'" [icon]="faUpdate"></fa-icon>
        <fa-icon [ngClass]="'text-danger'" [icon]="faDelete"></fa-icon>
      </td>
    </tr>
    <tr>
      <td>A6</td>
      <td>Moghite</td>
      <td>Mos</td>
      <td>mos@gail.com</td>
      <td>
        <fa-icon [ngClass]="'text-info'" [icon]="faShow"></fa-icon>
        <fa-icon [ngClass]="'text-warning'" [icon]="faUpdate"></fa-icon>
        <fa-icon [ngClass]="'text-danger'" [icon]="faDelete"></fa-icon>
      </td>
    </tr>
  </table>

</div>
