<div class="container mt-3">
  <button [routerLink]="['/create']" class="float-end btn btn-success">Ajouter</button>
  <table class="table">
    <tr>
      <th>id</th>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Email</th>
      <th></th>
    </tr>
    <tr *ngFor="let employee of employees">
      <td>{{employee.idEmployee}}</td>
      <td>{{employee.nomEmployee}}</td>
      <td>{{employee.prenomEmployee}}</td>
      <td>{{employee.email}}</td>
      <td>
        <fa-icon [ngClass]="'text-info'" [icon]="faShow"></fa-icon>
        <fa-icon [ngClass]="'text-warning'" [icon]="faUpdate"></fa-icon>
        <fa-icon [ngClass]="'text-danger'" [icon]="faDelete"></fa-icon>
      </td>
    </tr>
  </table>

</div>
